<h1>About ChaosFusion</h1>
<h2>The Twinker Soldier</h2>
<ul>
    <li>Mid/Top/Bot laner</li>
    <li>Hardstuck Gold</li>
    <li>5’11 with my feminist literature</li>
    <li>3 inches soft, 2 inches hard</li>
    <li>Quote: I like lucid dreaming and thick thighs. Also McDonalds fries.</li>


</ul>






<%= link_to 'back', root_path %>