<h1>Kuro</h1>





<ul>
    <li>Jungler,</li>
    <li>20 and antisocial </li>
    <li>Depressed,</li>
    <li>Autistic </li>
    <li>"Foolishness, Dante, foolishness. Might controls everything , and without strength, you cannot protect anything. Let alone yourself."<li>
</ul>
<%= link_to 'back', root_path %>